<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <mat-form-field *ngSwitchCase="controlType.TEXT_BOX" appearance="fill">
      <mat-label>{{question.label}} <span class="required" *ngIf="question?.required">*</span> </mat-label>
      <input matInput [formControlName]="question.key"
             [id]="question.key" [type]="question.inputType">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="controlType.DROPDOWN" appearance="fill">
      <mat-label>{{question.label}} <span class="required" *ngIf="question?.required">*</span> </mat-label>
      <mat-select [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group *ngSwitchCase="controlType.RADIO" [name]="question.key" [formControlName]="question.key"
                     class="radio-group">
      <mat-label >{{question.label}}<span class="required" *ngIf="question?.required">*</span></mat-label>
      <mat-radio-button *ngFor="let opt of question.options" [value]="opt.value" class="radio-button" >
        {{opt.key}}
      </mat-radio-button>

      <mat-radio-button *ngIf="question.freeText" #freeTextRadioButton class="radio-button">
        {{question.freeText}}
        <mat-form-field appearance="standard" class="freetext-form-field">
          <input matInput [formControlName]="question.key" (click)="freeTextRadioButton.checked=true">
        </mat-form-field>
      </mat-radio-button>

    </mat-radio-group>

  </div>

<!--  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>-->
</div>
